.navbar {
  width: 100%;
  padding: 1rem 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease; /* Smooth transition */
  background-color: transparent; /* Initially transparent */
}

.navbar.scrolled {
  backdrop-filter: blur(8px);
  background-color: rgba(18, 28, 45, 0.9); /* Dark blurred background */
  border-bottom: 1px solid rgba(100, 149, 237, 0.2);
  box-shadow: 0 4px 6px -1px rgba(100, 149, 237, 0.1), 0 2px 4px -1px rgba(100, 149, 237, 0.1);
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo-primary {
  color: #f5f5f5;
}

.logo-secondary {
  color: rgb(0, 238, 238);
}

/* Burger Menu Styles */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
}

.burger-line {
  width: 30px;
  height: 3px;
  background-color: rgb(0, 238, 238);
  transition: transform 0.3s ease;
}

.burger-line.hide {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  color: rgb(55, 65, 81);
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    /* background-color: #fff; Remove this */
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    gap: 10px;
    background-image: url('/nav-background.png'); /* Add background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
  }

  .navbar-menu.open {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    gap: 25px;
  }

  .burger-menu {
    display: flex;
  }

  .close-btn.hide {
    display: none;
  }

  .close-btn.show {
    display: flex;
    justify-content: flex-end;
  }
}

.menu-item {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s ease-in-out;
  font-weight: 600;
}

.menu-item:hover {
  color: rgb(0, 238, 238);
}

.navbar-cta {
  background-color: rgb(0, 238, 238);
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  color: #2c2f45;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: background-color 0.2s ease-in-out;
}

.navbar-cta:hover {
  background-color: #6ff7f7;
}